<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" media="screen" th:href="@{${bootstrapCss}}" />
	<link rel="stylesheet" media="screen" th:href="@{/css/default.css}"/>
	<script th:src="@{${jqueryJs}}"></script>
	<script th:src="@{${bootstrapJs}}"></script>
	<link rel="icon" type="image/png" href="www/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript">
    (function(f,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,c=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};c&&d(c,"state")&&(j=JSON.parse(decodeURIComponent(d(c,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",c),history.replaceState(j.desiredHash||"",f.title,k.pathname+k.search)))}catch(n){}var l,h;window.freshpaint=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
    0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="freshpaint";e.people=e.people||[];e.toString=function(b){var a="freshpaint";"freshpaint"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove people group page alias ready".split(" ");
    for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.4;b=f.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof FRESHPAINT_CUSTOM_LIB_URL?
    FRESHPAINT_CUSTOM_LIB_URL:"//perfalytics.com/static/js/freshpaint.js";d=f.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.freshpaint||[]);
    freshpaint.init("42eead6f-2fce-4655-a44b-2902b6139c5d");
    freshpaint.page();
    </script>
</head>
<body>
	<!-- navigation bar -->
	<div th:replace="./navbar :: navbar"></div>

	<!-- content -->
	<div th:if="${!displayAppLogos}" id="applist">
		<ul>
			<li th:each="app: ${apps}">
                <a th:if="${#strings.endsWith(app.id, '-direct')}" th:href="@{/app/}+${app.id}" th:text="${app.displayName == null} ? ${app.id} : ${app.displayName}"></a>
				<a th:unless="${#strings.endsWith(app.id, '-direct')}" th:href="@{/app/}+${app.id}" th:text="${app.displayName == null} ? ${app.id} : ${app.displayName}"></a>
				<br th:if="${app.description != null}" />
				<span th:if="${app.description != null}" th:utext="${app.description}"></span>
			</li>
		</ul>
	</div>

    <div th:if="${displayAppLogos}" class="container" id="applist">
		<div class="row" style="margin-top:20px;" th:each="app: ${apps}">
			<div class="col-md-6 col-md-offset-3">
				<div class="media">
					<div class="media-left">
						<img th:if="${appLogos.get(app) != null}" th:src="${appLogos.get(app)}"></img>
					</div>
					<div class="media-body">
						<a th:if="${#strings.endsWith(app.id, '-direct')}" th:href="@{/app/}+${app.id}" th:text="${app.displayName == null} ? ${app.id} : ${app.displayName}"></a>
				        <a th:unless="${#strings.endsWith(app.id, '-direct')}" th:href="@{/app/}+${app.id}" th:text="${app.displayName == null} ? ${app.id} : ${app.displayName}"></a>
						<span th:if="${app.description != null}" th:utext="${app.description}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
