@-moz-document domain("github.com") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/npm/@typopro/web-iosevka@3.7.5/TypoPRO-iosevka-term-regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/@typopro/web-iosevka@3.7.5/TypoPRO-iosevka-term-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body,
article.markdown-body,
.d-block {
  font-family: "IBM Plex Sans", Sans-Serif;
}

td.blob-code,
div.highlight pre,
div.text-mono span,
div.CodeMirror-code,
a.branch-name,
.d-block code,
code {
  font-family: "JetBrainsMono", monospace;
}
}

@-moz-document domain("inoreader.com") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

div#reader_pane,
div#subscriptions_nav,
fieldset#subscriptions_fieldset,
div.article_title,
div.article_content,
div.inno_toolbar_button,
div.inno_toolbar_switcher_button_main_label,
input,
div.inno_toolbar_button_menu_item {
  font-family: 'IBM Plex Sans', sans-serif !important;
}
}

@-moz-document domain("notion.so") {
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');
@font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

div.notion-selectable,
div.notion-sidebar,
div.notion-overlay-container,
div.notion-topbar,
div.notion-cursor-listener,
div.notion-page-block > div > div,
div.notion-header-block > div > div,
div.notion-sub_header-block > div > div,
div.notion-sub_sub_header-block > div > div,
div.notion-collection_view-block > div > div > div > div > div {
  font-family: 'IBM Plex Sans', sans-serif !important;
  line-height: 1.5em;
}
div.notion-code-block span {
  font-family: 'JetBrainsMono', monospace !important;
}
div.notion-page-block > div > div,
div.notion-header-block > div > div,
div.notion-sub_header-block > div > div,
div.notion-sub_sub_header-block > div > div {
  font-size: 0.9em;
}
div.notion-collection_view-block > div > div > div > div > div {
  font-size: 0.9em !important;
}
}

@-moz-document domain("app.slack.com") {
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

span,
div {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

pre,
code {
  font-family: 'JetBrainsMono', monospace !important;
}
}

@-moz-document domain("youtube.com") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body,
paper-item,
#search {
  font-family: 'IBM Plex Sans', sans-serif !important;
}
}

@-moz-document domain("todoist.com") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
}
}

@-moz-document url-prefix("https://www.google.com/search") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body,
div.g {
  font-family: "IBM Plex Sans", Sans-Serif;
}
}

@-moz-document domain("app.asana.com"), domain("twitter.com") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
textarea,
button,
input {
  font-family: "IBM Plex Sans", Sans-Serif !important;
}
}

@-moz-document domain("discord.com") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "IBM Plex Sans", Sans-Serif;
}

}

@-moz-document domain("toshl.com") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
}
}

@-moz-document domain("app.cloud66.com") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

}

@-moz-document domain("telegram.org") {
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
  font-family: "IBM Plex Sans", Sans-Serif;
}
}
